* {margin:0px;padding:0px;}
.maunen {
    background-color: white!important;
}


a.btn.btn-info.nutgit {
    font-weight: bold;
    font-size: 15px;
}

a.btn.btn-info.nutface {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 8px 14px;
}
.dstt a:hover {
    color:orange;
    margin-left: 6px;
}


.dstt a {
    color: #9e9e9e;
    font-size: 14px;
    text-decoration: none;
    transition: 0.4s;
}

li.dstt {
    margin: 9px 0px;
}
.footer {
    background-color: #323232;
    color: #9e9e9e;
    padding: 43px 0px;
}


li.phone {
    font-weight: bold;
    margin: 7px 0px;
}

li {}

a.gmail {
    color: black;
    text-decoration: none;
    font-size: 15px;
    color:#9e9e9e;
    transition:0.2s;
}

a.gmail:hover {
    color:orange;
}

li.adress {
    font-size: 14px;
    margin: 10px 0px;
}

li.tenct {
    font-weight: bold;
    font-size: 14px;
}

.thongtinduoi {
    margin-top: 15px;

}

.tdfooter span {
    border-left: 3px solid #ffffff80;
    border-right: 3px solid #ffffff80;
    padding: 3px 15px;
    font-weight: bold;
    color: #e8a832;
    text-transform: uppercase;
}
.doitac {
    margin-bottom:60px;
}


.doitac .container {
    border: 1px solid #c5afaf;
    padding: 15px;
    border-radius: 14px;
}


.row.taitro .col-sm-3 {
    text-align: center;
}

.sp2 .container {
    border-left: 1px solid #41414140;
    border-right: 1px solid #41414140;
}

a.btn.btn-info.bg-sm.nutsp {
    margin-left: 60%;
    padding: 8px 18px;
}

a.btn.btn-info.bg-sm.nutsp.text-xs-right {margin-left: 65%;padding: 8px 22px;font-weight: 500;}

.td {
    padding-left: 50%;
    margin-left: -72.5px;
}
.td {
    width: 100%;
}

.td span {
    margin: 40px 0;
    color: black;
    font-weight: bold;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    display: block;
    width: 145px;
    text-transform:uppercase;
    text-align: center;
}
.bocimg {
    width: 100%;
    height: 140px;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}
.baocard {
    padding: 11px;
}

span.monneyold {
    text-decoration: line-through;
    font-size: 14px;
    color: #9e9e9eeb;
    margin-left: 8px;
}

a.ten {
    display: block;
    color: black;
    text-transform: uppercase;
    font-weight: 530;
    margin-top: 10px;
    text-decoration: none;
    margin-left: 8px;
    font-family: ui-sans-serif;
    font-style: italic;
    transition:0.2s;
}
a.ten:hover {
    color:#ffd700c4;
}
p.monney {
    background-color: gold;
    display: inline;
    border-radius: 5px;
    padding: 6px 12px;
}

img.card-img-top.anhsp {
    width: 100%;
    margin-bottom: 18px;
    transition:0.3s;

}
img.card-img-top.anhsp:hover {
    transform: scale(1.2);
}

a.right.carousel-control,a.left.carousel-control {
    background: transparent;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background: transparent;
    transition:0.3s;
}

a.nav-link.linkmenu {
    color:black!important;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 10px;
    transition: 0.2s;
}
a.nav-link.linkmenu:hover {
    color:#000000ad!important;
}

a.navbar-brand.logo {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    color: #d21414;
    transition:0.3s;
}

a.navbar-brand.logo:hover {
    color:#fb1212;
}

@media (max-width: 575px) {
    * {}

.dichvao {
    padding-left: 16px;
}

.tdfooter {
    margin-bottom: 27px;
}

a.navbar-brand.logo {
    font-size: 23px;
}

.col-sm-3 {
    margin: 16px 0px;
}

a.nav-link.linkmenu {
    color: white!important;
}
a.nav-link.linkmenu:hover {
    background:brown;
}

div#menu {
    background: #989797;
    padding: 9px 25px;
    border-radius: 10px;
    margin-top: 13px;
}

}