*{margin: 0; padding: 0;}
.nenden.hiennenden {
	visibility: visible;
	opacity: 1;
}

.menuan.hienmenuan {
	transform: translateX(0);
}
.nut {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10%;
    padding: 0px 7px;
    cursor: pointer;
}

.nutmenuan .nut div {
    width: 32px;
    height: 2px;
    display: block;
    background: black;
    margin: 13px 9px;
}

.nutmenuan {
    width: 100%;
    height: 60px;
    background: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: right;
    padding-right: 41px;
    z-index: 3;
    display: block;
}

.nenden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000059;
    z-index: 16;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.menuan li.list-group-item {
    background: none;
    margin: 10px;
    border-radius: 5px;
}

.menuan li.list-group-item:hover {
    background: #a2b6bf;
}

.menuan h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #adc6d2;
}

html,body {
    width: 100%;
    height: 100%;
}

.menuan {
    width: 30%;
    height: 100%;
    background: green;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 17;
    padding: 90px 0;
    transform: translateX(-100%);
    transition: 0.5s;
}
.muc1.cdmuc1 {
	transform: translateX(0);
	opacity: 1;
}

.muc1 {
	opacity: 0;
	transform: translateX(-200%);
	transition: 1s;
}
.muc2.cdmuc2 {
	transform: translateX(0);
	opacity: 1;
}

.muc2 {
	opacity: 0;
	transform: translateY(-600%);
	transition: 1s;
}

.muc3.cdmuc3 {
	transform: scale(1);
	opacity: 1;
}

.muc3 {
	opacity: 0;
	transform: scale(0.4);
	transition: 1s;
}

.menu.nenmenu nav.navbar.navbar-light.bg-faded.navbar-fixed-top .navbar-brand {
	color: white!important;
}
.menu.nenmenu nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
	background: black!important;
}
.menu.nenmenu nav.navbar.navbar-light.bg-faded.navbar-fixed-top a.nav-link {
	color: white!important;
}

.menu.nenmenu nav.navbar.navbar-light.bg-faded.navbar-fixed-top a.nav-link:hover {
    color: #dcd2d2!important;
}

a.right.carousel-control,a.left.carousel-control {
    background: none;
}
.tenmuc.text-xs-center span {
	font-size: 26px;
	font-weight: bold;
	border-left: 4px solid orange;
	border-right: 4px solid orange;
	padding: 6px 10px;
	text-transform: uppercase;
}
.tenmuc.text-xs-center {
    padding-bottom: 40px;
    margin-top: 50px;
}

a.btn.btn-primary.nutquay {
    transform: translateX(-28%);
}

span.monney {
    /* font-style: italic; */
    float: right;
}

.card-body {
    margin-top: 13px;
}

.card.text-xs-center {
    padding: 6px 8px;
    padding-bottom: 18px;
}

p.card-text.tile {
    font-size: 16px;
    font-weight: bold;
    color: #ea4747;
}

h4.card-title.tieudecard {
    font-size: 24px;
    font-weight: bold;
    color: #506169;
}

.vongquay {
    margin-top: 105px;
}

.menu nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background: transparent;
    transition: 0.4s;
    z-index: 1;
}

a.navbar-brand {
    font-size: 26px;
    font-weight: bold;
    color: black!important;
    transition: 0.4s;
}

a.nav-link {margin: 3px 12px;color: #414141!important;font-size: 19px;transition: 0.3s;}

a.nav-link:hover {
    color: gray!important;
} 