*{margin: 0; padding: 0;}

h4.tdsp {
    font-weight: bold;
    margin: 13px 0px;
}

i.fa.fa-shopping-cart {
    font-size: 80px;
    background-color: gold;
    width: 34%;
    height: 47%;
    border-radius: 50%;
    padding: 20px 0px;
    color: white;
}
.spgt {
	text-align:center;
}

.col-sm-4.spgt {
    padding: 0px 6px;
}


p.trichgt {
    font-style: italic;
}

h2.tdgt {
    font-size: 44px;
    font-weight: bold;
}

a.btn.btn-warning.text-uppercase.nutbaner {
    padding: 20px 35px;
    font-size: 20px;
    font-weight: bold;
    background-color:#ffd700e0;
    transition:0.2s;
    margin-top: 38px;
}

a.btn.btn-warning.text-uppercase.nutbaner:hover {
	background-color:#d2b51c;
}

h1.trichnhanto {
    font-size: 78px;
    color: white;
    font-weight: bold;
}

p.trichdannho {
    font-size: 35px;
    color: white;
    font-style: italic;
}

.container.tdbanner {
	padding-top: 18%;
}

a.nav-link {
    font-size: 18px;
    color: white!important;
    transition:0.2s;
}
a.nav-link:hover {
	color:gold!important;
}
li.nav-item {
    padding-left: 24px;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-faded.navbar-fixed-top {
    background: transparent;
} 
.logo {
	width: 200px;

}
.bannerto {
	background-image: url(assets/img/header-bg.jpg);
	background-size:cover;
	background-position:center;
	height: 750px;
	width: 100%;
}