<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./stylesheets/dropzone.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
    	<div class="jumbotron text-sm-center">
    		<h1 class="display-3">Trang Đăng Sản Phẩm</h1>
    	</div>
    	<form id="upload-widget" method="post" action="/upload" class="dropzone"></form>
    	<form action="/thanhcong" method="post">
	        <p>ID:</p>
	        <input type="text" name="idsp" class="form-control">
	        <p>Kiểu</p>
	        <input type="text" name="kieusp" class="form-control">
          <p>Giới Tính:</p>
          <input type="text" name="gioitinh" class="form-control">
	        <p>Giá giảm:</p>
	        <input type="text" name="giagiam" class="form-control">
	        <p>Giá mới:</p>
	        <input type="text" name="giamoi" class="form-control">
          <p>Phần Trăm:</p>
          <input type="text" name="phantram" class="form-control">
	        <button class="btn btn-info" type="submit" style="margin-top: 20px;width: 100%;margin-bottom: 40px;">Submit</button>
     	 </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./javascripts/dropzone.js"></script>
  </body>
</html>