<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../.././vendor/bootstrap.css">
  <link rel="stylesheet" href="../.././vendor/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../.././stylesheets/1.css">
    <title>SHOPVIET</title>
  </head>
  <body>
    <div class="menu">
    <nav class="navbar navbar-light bg-faded navbar-fixed-top">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#menu">
      
      </button>
      <div class="container">
      <div class="collapse navbar-toggleable-xs" id="menu">
      <a class="navbar-brand" href="/"><img src="../.././images/logo.png"></a>
      <ul class="nav navbar-nav float-sm-right">
        <li class="nav-item">
          <a class="nav-link" href="/">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trang-chu/allsp">Sản Phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Liên Hệ: +8435 833 1597</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trang-chu/giohang"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ Hàng</a>
        </li>
      </ul>
      </div>
      </div>
    </nav>
  </div> <!-- het menu -->
   <div class="container">    
     <div class="jumbotron " style="margin-top: 100px;">
      <form action="/trang-chu/formdk" method="post">
        <div class="form-group">
          <label>Họ và Tên:</label>
          <input type="text" name="ten" class="form-control">
          <label>Email:</label>
          <input type="text" name="email" class="form-control">
          <label>Số Điện Thoại:</label>
          <input type="text" name="sdt" class="form-control">
          <label>Địa Chỉ (Ghi rõ:Số nhà,Tên đường,Phường,Thành Phố,Tỉnh):</label>
          <input type="text" name="adress" class="form-control">
          <label>Ghi chú:</label>
          <input type="text" name="note" class="form-control" style="height: 70px;">
        </div>
        <button class="btn btn-success">Xác Nhận</button>
      </form>
      </div>
   </div> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="../.././vendor/bootstrap.js"></script>
  <script type="text/javascript" src="../.././javascripts/1.js"></script>
  </body>
</html>