<div class="footer">
 		<div class="container">
 			<div class="row">
 				<div class="col-sm-3">
 					<h3 class="td">dropex</h3>
 					<p class="khoitext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 					tempor incididunt ut labore et dolore magna aliqua.</p>
 					<a href="facebook.com/long10112005"><i class="fa fa-facebook"></i></a>
 					<a href="github.com/long10112005jqk"><i class="fa fa-github"></i></a>				
 				</div>
 				<div class="col-sm-3">
 					<h4 class="td">head offece</h4>
 					<ul class="list-unstyled">
 						<li>Tổ 1,Phường Chiềng Sinh,Thành Phố Sơn La</li>
 						<li>hailongavatar1@gmail.com</li>
 						<li>+8435 833 1597</li>
 					</ul>
 				</div>
 				<div class="col-sm-3">
 					<h4 class="td">USEFUL LINKS</h4>
 					<ul class="list-unstyled">
 						<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>  Blogs</a></li>
 						<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>  about us</a></li>
 						<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>  service</a></li>
 						<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>  team</a></li>
 					</ul>
 				</div>
 				<div class="col-sm-3">
 					
 				</div>
 			</div>
 		</div>
 	</div>