<div class="menu">
 		<nav class="navbar navbar-light bg-faded navbar-fixed-top">
 			<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#menu">
 			
 			</button>
 			<div class="container">
 			<div class="collapse navbar-toggleable-xs" id="menu">
 			<a class="navbar-brand" href="/"><img src="./../images/logo.png"></a>
 			<ul class="nav navbar-nav float-sm-right">
 				<li class="nav-item">
 					<a class="nav-link" href="/">Trang Chủ</a>
 				</li>
 				<li class="nav-item">
 					<a class="nav-link" href="/trang-chu/allsp">Sản Phẩm</a>
 				</li>
 				<li class="nav-item">
 					<a class="nav-link">Liên Hệ: +8435 833 1597</a>
 				</li>
 				<li class="nav-item">
 					<a class="nav-link" href="/trang-chu/giohang"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ Hàng</a>
 				</li>
 			</ul>
 			</div>
 			</div>
 		</nav>
 	</div>